* {
  box-sizing: border-box;
  transition: all 0.3s;
}

body {
  margin: 0;
  background-color: yellow;
}

.app {
  background-color: hsl(0, 0%, 95%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* border: 3px solid hsl(0, 100%, 50%); */
}

.header {
  background-color: hsl(240, 50%, 75%);
  padding: 1rem;
  border: 3px solid hsl(0, 0%, 0%);
}

.main {
  flex: 1 1 auto;
  display: flex;
  /* border: 3px solid hsl(60, 100%, 50%); */
  overflow: hidden;
}

.sidebar {
  border: 3px solid hsl(240, 100%, 50%);
  width: 30rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
}

.sidebar-item {
  display: block;
  width: 100%;
  padding: 2rem 1rem;
  text-align: left;
}

.work-zone {
  border: 3px solid hsl(120, 100%, 35%);
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.form-zone {
  background-color: hsl(60, 50%, 75%);
  padding: 1rem;
  border: 3px solid hsl(0, 100%, 50%);
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: inline-block;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.25rem;
}

.table-zone {
  flex: 1 1 auto;
  background-color: hsl(120, 50%, 75%);
  padding: 1rem;
  border: 3px solid hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.table-container {
  flex: 1;
  border: 3px solid hsl(240, 100%, 50%);
  overflow: hidden;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  overflow: auto;
  outline: 3px solid hsl(0, 100%, 50%);
  outline-offset: -3px;
  height: 20rem;
  overflow: auto;
}

thead {
  position: sticky;
  top: -1rem;
  border: 3px solid black;
}

tbody {
  height: 5rem;
  overflow: auto;
}

th,
td {
  border: 3px solid black;
  padding: 3rem 1rem;
}

th {
  background-color: white;
}
